.form-item-custom {
  .ant-input {
    padding: 24px 12px 4px 11px;
    border-radius: 10px;
  }
  .ant-input-password {
    padding: 24px 12px 4px 11px;
    border-radius: 10px;
  }
  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:focus {
    z-index: 0 !important;
  }

  .ant-input-affix-wrapper:not(.ant-input-disabled):hover {
    z-index: 0 !important;
  }

  .ant-select .ant-select-selector {
    padding: 24px 10px 4px 11px;
    border-radius: 10px;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 52px;
    padding: 26px 10px 0px 12px;
  }

  .ant-select-single .ant-select-selector .ant-select-selection-search {
    top: 24px;
  }

  .ant-picker {
    padding: 24px 12px 4px 11px;
    border-radius: 10px;
  }
}

.inputTable.ant-form-item {
  margin-bottom: 0px !important;
}
